[submodule "FmodStudio"]
	path = FmodStudio
	url = https://github.com/Simoxus/scpcb-unity-FMOD.git
	shallow = true

[submodule "Assets/Plugins/External/FMODSyntax"]
	path = Assets/Plugins/External/FMODSyntax
	url = https://github.com/simoxus/fmod-syntax-for-unity.git
	shallow = true